.bg-theme-primary{
    background-color: #454857;
}
.bg-theme-active{
    background-color: #393b44;
}
.bg-theme-green{
    background-color: #5a9669;
}
.text-theme-gray{
    color: #ccc;
}
.text-theme-green{
    color: #88abac;
}
.text-theme-green-2{
    color: #2bb673;
}

.nav-item, .cursor-pointer{
    cursor: pointer;
}
.radioButtonLarge {
    display: flex!important;
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 50px 50px 0;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px 1px rgb(211 211 211 / 70%);
    cursor: pointer;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: center;
    align-content: center;
}

.radioButtonLarge img {
    width: 85px;
    position: relative;
    bottom: 20px;
}

.radioButtonLarge div {
    width: 100%;
    max-width: 150px;
    min-width: 50px;
    position: relative;
    line-height: 1em;
    text-align: center;
    color: #333;
    top: -10px;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="radio"]:checked + div {
    border: 5px solid #669e9b;
}

.theme-control {
    position: relative;
    min-width: 320px;
    height: 35px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #88abac;
    background-color: transparent;
    outline: none;

}

.stateTest {
    max-height: 125px;
    margin-right: 10px;
    float: left;
    max-width: 130px;
}

.label-div.hasIcon {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    min-height: 80px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px 1px rgb(211 211 211 / 70%);
    align-items: center;
    -webkit-align-items: center;
}

.icon {
    margin-bottom: 0;
    padding: 0 20px;
    z-index: unset;
}

.icon img {
    position: relative;
    width: 51px;
    height: 51px;
    z-index: 99;
}

.label-div.hasIcon .label {
    font-size: 1.2rem;
    display: inline-block;
    min-width: 200px;
    max-width: 289px;
    box-shadow: none;
    padding: 20px 20px 20px 0;
    z-index: 1;
    scroll-behavior: smooth;
}
.label-div{
    font-size: 1.2rem;
    background-color: #efefef;
    display:inline-block;
    min-width: 85px;
    padding: 10px;
    box-shadow: 0 1px 3px 1px rgb(211 211 211 / 70%);
    margin-right: 15px;
}

#contract {
    height: 600px;
    background-color: #fff;
    border: 1px solid #808285;
    padding: 1px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.DCS .header, .DCS .footer, .DCS .firstHeader, .DCS .firstFooter, .DCS .printWatermark{
    display: none;
}

#contract p, ol{
    line-height:17.0pt;
    font-size:12.0pt;
    line-height:18.0pt;
    font-family:Times New Roman;
    color:#000000;
}

ol > h4{
    margin-top: 10pt;
    font-size:14.0pt;
    color:#000000;
    line-height:21.0pt;
    font-family:Helvetica;
}

ol > li{
    margin-bottom:6.0pt;
}
ol > li > div{
    margin-top:-17.0pt;
    padding-left:30.0pt;
}

